{% extends "base.html" %}

{% block main%}
{% include "flash_messages.html"%}


<h1 class="pro-title">Properties</h1>
    <div class="card-deck">	
    {% for p in query_lst %}

        <div class="card">
            <image src="{{ url_for('get_image', filename=p.image) }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title font-weight-bold mb-1">{{ p.title }}</h5>
              <p class="card-text text-muted"><i class="fas fa-map-marker-alt"></i>  {{ p.location }}</p>
              <span class="badge badge-pill badge-primary px-3 py-2">${{ p.price }}</span>
            </div>

            <div class="card-footer">
                <a class="btn btn-block specific-green" href="{{ url_for('getProperty', propertyid=p.id) }}">View Property</a>
            </div>
          </div>

        
    {% endfor %}
    </div>
{% endblock%}