{% extends "base.html" %}

{% block main %}

{% include "flash_messages.html" %}

<div class="property_form">
	<h1 id="form_header">Add New Property</h1>
	<form class="myform" action="{{ url_for('newProperty') }}" enctype="multipart/form-data" method="POST">
		<div class="">
			{{form.csrf_token}}
			<div class="">
				<div class="f-input">
				{{form.title.label(class = "form_title")}}
				{{form.title}}
				</div>
			</div>

			<div class="">
				<div class="f-input">
					{{form.description.label(class = "form_title")}}
					{{form.description}}
				</div>
			</div>	

			<div class="fm-row">
				<div class="f-input mar_left">
					{{form.bedRoom_number.label(class = "form_title")}}
					{{form.bedRoom_number}}
				</div>

				<div class="f-input mar_right">
					{{form.bathRoom_number.label(class = "form_title")}} 
					{{form.bathRoom_number}} 
				</div>
			</div>

			<div class="fm-row">
				<div class="f-input mar_left">
					{{form.price.label(class = "form_title")}}
					{{form.price}}
				</div>

				<div class="f-input mar_right">
					{{form.property_type.label(class = "form_title")}}
					{{form.property_type}}
				</div>
			</div>


				<div class="">
					<div class="f-input">
						{{form.location.label(class = "form_title")}}
						{{form.location}}
					</div>

				</div>
				<div class="">
					<div class="f-input">
						{{form.image.label(class = "form_title")}}
						{{form.image}}
					</div>
				</div>
			<div class="">
				<div class=" ">
					<button type="submit" name="submit" class="btn btn-primary">Submit</button>
				</div>
			</div>
		</div>
	</form>

</div>

    

{% endblock %}
